# SPDX-FileCopyrightText: 2024 John Livingston <https://www.john-livingston.fr/>
#
# SPDX-License-Identifier: AGPL-3.0-only

version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: typescript
    versions:
    - ">=5.6.0" # linting libs are not ready for 5.6
  - dependency-name: "@tsconfig/node12"
    versions:
    - ">=2.0.0" # breaks the config, must see why before updating
  - dependency-name: "@types/nodes"
    versions:
    - ">=17.0.0" # must be set to the Peertube required version.
  - dependency-name: "@peertube/peertube-types"
    versions:
    - ">5.2.0" # must be set to the Peertube required version.
  - dependency-name: eslint
    versions:
    - ">=9.0.0" # not ready for v9, missing dependencies.
  - dependency-name: got
    versions:
    - ">=12.0.0" # breaking changes, must adapt code.
  - dependency-name: "@typescript-eslint/parser"
    versions:
    - ">=8.5.0" # for now 8.5.0 is broken because of the lack of ./tsconfig.json file. Must fix conf.
