@import "./variables";
@import "shared/styles/index";
@import "./peertubetheme";

body.livechat-iframe #conversejs .chat-head {
  // Hidding the chat-head when the plugin is displayed in an iframe.
  display: none;
}

#conversejs-bg {
  // We are using a custom template that differs from the original, this is required.
  .converse-brand__heading {
    img {
      margin-top: 0.3em;
    }
  }
}

// Readonly mode
body.livechat-readonly #conversejs {
  .chat-head,
  .bottom-panel,
  converse-message-actions,
  converse-muc-sidebar {
    display: none !important;
  }
}

body.livechat-readonly.livechat-noscroll {
  converse-chat-content {
    overflow-y: hidden !important;
  }

  .message.separator {
    // also hide separators (new day, new message)
    display: none;
  }
}

// Viewer mode
.livechat-viewer-mode-nick {
  display: none;
}

body[livechat-viewer-mode="on"] {
  .livechat-viewer-mode-nick {
    display: initial;
  }

  .livechat-viewer-mode-panel {
    display: none;
  }
}
