image: monachus/hugo

pages:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    GIT_SUBMODULE_PATHS: support/documentation/themes/hugo-theme-learn
  script:
    # gitlab need the generated documentation to be in the /public dir.
    - hugo -s support/documentation/ -d ../../public/ --baseURL='https://livingston.frama.io/peertube-plugin-livechat/'
  artifacts:
    paths:
      - public
  only:
    - main
