# SPDX-FileCopyrightText: 2024 John Livingston <https://www.john-livingston.fr/>
#
# SPDX-License-Identifier: AGPL-3.0-only

node_modules
.cache
dist
.vscode
build
support/documentation/public
support/documentation/po/po4a.conf
support/documentation/content/translations/**/*.md
support/documentation/i18n
support/documentation/.hugo_build.lock
public
vendor/prosody-appimage
vendor/conversejs-*
