#conversejs.theme-peertube {
  // hidding avatars when screen width is not big enough.
  @media screen and (max-width: 576px) {
    .message {
      .chat-msg__content {
        width: 100%;
      }

      .chat-msg__avatar {
        display: none;
      }
    }
  }

  // Bigger occupants sidebar when width is not big enough.
  @media screen and (max-width: 576px) {
    .chatroom {
      .box-flyout {
        .chatroom-body {
          .occupants {
            min-width: 50%;
          }
        }
      }
    }
  }
}
