@import "./variables";
@import "sass/converse";
@import "./peertubetheme";

body.livechat-iframe #conversejs .chat-head {
  // Hidding the chat-head when the plugin is displayed in an iframe.
  display: none;
}

#conversejs-bg {
  // We are using a custom template that differs from the original, this is required.
  .converse-brand__heading {
    img {
      margin-top: 0.3em;
    }
  }
}
