#peertube-plugin-livechat-container {
  display: flex;
  flex-direction: column;
}

/* For Peertube >= 3.2.0 */
#plugin-placeholder-player-next #peertube-plugin-livechat-container {
  height: 100%;
}

.peertube-plugin-livechat-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.peertube-plugin-livechat-button {
  border: 1px solid black;
  background-color: var(--mainBackgroundColor);
  margin: 5px;
  min-height: 36px;
  min-width: 36px;
  padding: 2px;
}

.peertube-plugin-livechat-button-icon {
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  display: inline-block;
  height: 100%;
  width: 100%;
}

[peertube-plugin-livechat-state="initializing"] {
  display: none;
}

[peertube-plugin-livechat-state="open"] .peertube-plugin-livechat-button-open {
  display: none;
}

[peertube-plugin-livechat-state="closed"] .peertube-plugin-livechat-button-close {
  display: none;
}

#peertube-plugin-livechat-container iframe {
  border: 1px solid black;
  min-height: 30vh;
  height: 100%;
}
