/*
 * SPDX-FileCopyrightText: 2024 John Livingston <https://www.john-livingston.fr/>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use "variables";
@use "utils";
@use "elements/index";
@use "video";
@use "configuration/configuration";
@use "list-rooms/list-rooms.scss";
