/*
 * SPDX-FileCopyrightText: 2024-2025 John Livingston <https://www.john-livingston.fr/>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@use "../mixins/buttons";
@use "../mixins/tables";

livechat-token-list {
  table {
    width: 100%;

    @include tables.data-table;

    tr th:first-child,
    tr th:last-child {
      width: 50px;
    }

    label {
      // Reset some styles set by peertube
      font-weight: inherit;
    }
  }

  .livechat-create-token {
    @include buttons.button-row-add;
  }

  .livechat-revoke-token {
    @include buttons.button-row-remove;
  }
}
